.persoKen {
  position: absolute;
  top: 142px;
  z-index: 2;
  width: 38px;
  height: 84px;
  overflow: hidden;
  background-image: url(./images/spriteKen.png);
  background-position: -40px 13px;
}

.ken-walk {
  animation: kenwalk 0.4s step-start infinite;
}

@keyframes kenwalk {
  50% {
     background-position: -120px 0px;
     height: 71px;
     width: 33px;
     top: 157px;
  }
  100% {
     background-position: -76px 13px;
     width: 44px;
     height: 84px;
     top: 142px;
  }
}

.fireBall-ken {
  position: absolute;
  top: 116px;
  left: 51px;
  z-index: 2;
  width: 35px;
  height: 75px;
  overflow: hidden;
  background-image: url(../ryu/images/sprite.png);
  background-position: -336px 8px;
  display: none;
}
